/* LIST #4 */
#theSpot { width:320px; font-family:Georgia, Times, serif; font-size:15px; }
#theSpot ul { list-style: none; }
#theSpot ul li { }
#theSpot ul li a { display:block; text-decoration:none; color:#000000; background-color:#FFFFFF; line-height:30px;
  border-bottom-style:solid; border-bottom-width:1px; border-bottom-color:#CCCCCC; padding-left:10px; cursor:pointer; }
#theSpot ul li a:hover { color:#FFFFFF; background-image:url(../images/hover.png); background-repeat:repeat-x; }
#theSpot ul li a strong { margin-right:10px; }



#userRecipe {
	width:420px;
	height:500px;
}
